.process{

padding:120px 8%;
background:#0b0b0b;
color:white;

}


.section-heading{

text-align:center;
margin-bottom:70px;

}


.section-heading p{

color:#ff5a1f;
font-size:18px;
font-weight:600;

}


.section-heading h2{

font-size:52px;
margin-top:15px;

}


.section-heading span{

color:#ff5a1f;

}



.process-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:35px;

}



.process-card{

background:#171717;
padding:45px 35px;

border-radius:25px;

text-align:center;

transition:0.3s;

border:1px solid rgba(255,255,255,0.05);

}



.process-card:hover{

transform:translateY(-12px);

border-color:#ff5a1f;

}



.process-icon{

font-size:45px;

color:#ff5a1f;

margin-bottom:25px;

}



.process-card h3{

font-size:28px;

margin-bottom:15px;

}



.process-card p{

color:#aaa;

line-height:1.7;

}



@media(max-width:900px){

.process-grid{

grid-template-columns:1fr;

}


.section-heading h2{

font-size:38px;

}

}